/* Mobile styles */
.foot-container {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: black;
}

.company-info h2, .useful-links h2, .contact h2 {
    display: none;
}

.foot-icons-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.icon-facebook, .icon-twitter, .icon-insta {
    display: flex;
    align-items: center;
}

.icon-facebook {
    background-color: #3b5998;
}

.icon-twitter {
    background-color: #00acee;
}

.icon-insta {
    background-color: #e4405f;
}

.links {
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.links a {
    text-decoration: none;
    color: white;
    &:hover {
        text-decoration: underline;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.contact p {
    display: flex;
    align-items: center;
    gap: 0.15rem;
}

.contact, .contact svg {
    font-size: small;
}

/* Tablet styles */
@media (min-width: 768px) {
    .foot-container {
        padding: 1rem;
    }

    .company-info h2, .useful-links h2, .contact h2 {
        display: inline;
        font-size: large;
    }
    
    .useful-links, .contact {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .foot-icons-cont {
        margin-top: 1rem;
        justify-content: center;
        flex-direction: row;
        gap: 1rem;
    }

    .links {
        font-size: medium;
    }

    .contact p, .contact svg {
        font-size: medium;
    }
}