.nav-container {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    box-shadow: 0 2px 2px black;
    z-index: 1;

    position: relative;
}

/* LEFT CONTAINER */
/* .left-container {
    display: none;
} */

/* CENTER CONTAINER */
.center-container ul {
    display: flex;
    gap: 0.75rem;
    list-style: none;
}

.center-container ul a {
    text-decoration: none;
    color: black;
    &:hover {
        color: silver;
    }
}

/* RIGHT CONTAINER */
.right-container {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.right-container a {
    font-size: small;

    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: silver;
    text-decoration: none;
    color: black;

    &:hover {
        background-color: rgb(151, 151, 151);
    }
}

/* RIGHT CONTAINER / USER LOGGED */
.right-container span {
    display: none;
}

.userIcon {
    display: flex;
    align-items: center;
    cursor: pointer;

    border: none;
    border-radius: 50%;

    width: 2rem;
    height: 2rem;
}

.userIcon img, .userIcon svg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* SUB MENU */
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    width: 40%;

    z-index: 1;
}

.sub-menu {
    border-radius: 10%;
    background-color: whitesmoke;
    padding: 1rem;
    margin: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.sub-menu,
.sub-menu span,
.sub-menu span svg,
.sub-menu button,
.sub-menu button svg {
    font-size: small;
}

.user-info {
    color: black;
    text-align: center;
}

.user-info hr {
    background-color: black;
    margin: 0.5rem auto;
}

.sub-menu span {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;
    color: #333;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.sub-menu button {
    background-color: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: none;
    color: red;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

/* Mobile L styles */
@media (min-width: 425px) {
    .nav-container {
        padding: 1rem;
    }

    .right-container {
        flex-direction: row;
        justify-content: flex-end;
    }
    .right-container a {
        font-size: 1rem;
    }
    
    .userIcon {
        width: 2rem;
        height: 2rem;
    }
    
}

/* Tablet styles */
@media (min-width: 768px) {
    .nav-container {
        padding: 1rem;
        font-size: x-large;
    }

    .left-container {
        flex: 0.5;
        display: inline;
        font-size: xx-large;
        font-weight: bold;
    }

    .center-container {
        flex: 2;
    }

    .center-container ul {
        justify-content: space-around;
    }

    .right-container {
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;
    }

    .right-container span {
        display: inline;
    }

    .right-container a {
        padding: 0.75rem;
    }

    .userIcon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .sub-menu,
    .sub-menu span,
    .sub-menu span svg,
    .sub-menu button,
    .sub-menu button svg {
        font-size: x-large;
    }
}

/* Desktop styles */
@media (min-width: 1024px) {

    .right-container a {
        font-weight: bold;
        font-size: 1.25rem;
    }

    .userIcon {
        width: 3rem;
        height: 3rem;
    }

    .sub-menu,
    .sub-menu span,
    .sub-menu span svg,
    .sub-menu button,
    .sub-menu button svg {
        font-size: xx-large;
    }
}